<div class="content">
  <!-- link con icono de + -->
  <a
    href="#"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModalCenter"
  >
    Nuevo
    <i class="fa fa-plus"></i>
  </a>
  <!-- <strong style="color: black"></strong> -->
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content" id="modal-content">
        <div class="modal-header">
          <br />
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form method="post" action="/rHorasTrabajadas/<%= idTrabajador %>">
            <div class="form-group">
              <label>
                <strong style="color: aliceblue">
                  iD : <%= idTrabajador %>
                </strong>
                <br />
                Horas Trabajadas
              </label>
              <!-- mostramos una lista : medio dia , dia completo ,solo tarde -->
              <select class="form-control" name="horas">
                <option style="background-color: black" value="5">
                  Medio dia
                </option>
                <option style="background-color: black" value="8">
                  Dia completo
                </option>
                <option style="background-color: black" value="3">
                  Solo tarde
                </option>
              </select>
            </div>
            <!-- fecha -->
            <div class="form-group">
              <label>Fecha</label>
              <input
                type="date"
                class="form-control"
                name="fecha"
                placeholder="Fecha"
              />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cerrar
              </button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- fin del modal -->
  <div class="row">
    <div class="container mt-5 mb-4 p-4 bg-light rounded shadow text-center">
      <h2
        class="titulo mb-4 animate__animated animate__fadeInLeft h2-estilizado"
      >
        Calendario de días trabajados
      </h2>
      <div id="calendar"></div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const calendarEl = document.getElementById("calendar");
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",
      locale: 'es',
      events: <%- JSON.stringify(eventos) %>,
      eventContent: function(info) {
        return {
          html: `<div class="fc-content">
                    <span class="fc-title">${info.event.title}</span>
                 </div>
                 <br>
                 <div class="fc-horas-trabajadas">${info.event.extendedProps.horas } horas</div>`
                };
      }
    });

    calendar.render();
  });
</script>
