<div class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Estilo de Notificaciones</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-info">
            <span>Esta es una notificación simple</span>
          </div>
          <div class="alert alert-info">
            <button
              type="button"
              aria-hidden="true"
              class="close"
              data-dismiss="alert"
              aria-label="Cerrar"
            >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>Esta es una notificación con un botón de cierre.</span>
          </div>
          <div class="alert alert-info alert-with-icon" data-notify="container">
            <button
              type="button"
              aria-hidden="true"
              class="close"
              data-dismiss="alert"
              aria-label="Cerrar"
            >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span data-notify="icon" class="tim-icons icon-bell-55"></span>
            <span data-notify="message"
              >Esta es una notificación con botón de cierre e ícono.</span
            >
          </div>
          <div class="alert alert-info alert-with-icon" data-notify="container">
            <button
              type="button"
              aria-hidden="true"
              class="close"
              data-dismiss="alert"
              aria-label="Cerrar"
            >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span data-notify="icon" class="tim-icons icon-bell-55"></span>
            <span data-notify="message"
              >Esta es una notificación con botón de cierre, ícono y tiene
              muchas líneas. Puedes ver que el ícono y el botón de cierre
              siempre están alineados verticalmente. Esta es una notificación
              hermosa. Así que no tienes que preocuparte por el estilo.</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Estados de Notificación</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-primary">
            <button
              type="button"
              aria-hidden="true"
              class="close"
              data-dismiss="alert"
              aria-label="Cerrar"
            >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span
              ><b> Primario - </b> Esta es una notificación regular hecha con
              ".alert-primary"</span
            >
          </div>
          <div class="alert alert-info">
            <button
              type="button"
              aria-hidden="true"
              class="close"
              data-dismiss="alert"
              aria-label="Cerrar"
            >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span
              ><b> Información - </b> Esta es una notificación regular hecha con
              ".alert-info"</span
            >
          </div>
          <div class="alert alert-success">
            <button
              type="button"
              aria-hidden="true"
              class="close"
              data-dismiss="alert"
              aria-label="Cerrar"
            >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span
              ><b> Éxito - </b> Esta es una notificación regular hecha con
              ".alert-success"</span
            >
          </div>
          <div class="alert alert-warning">
            <button
              type="button"
              aria-hidden="true"
              class="close"
              data-dismiss="alert"
              aria-label="Cerrar"
            >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span
              ><b> Advertencia - </b> Esta es una notificación regular hecha con
              ".alert-warning"</span
            >
          </div>
          <div class="alert alert-danger">
            <button
              type="button"
              aria-hidden="true"
              class="close"
              data-dismiss="alert"
              aria-label="Cerrar"
            >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span
              ><b> Peligro - </b> Esta es una notificación regular hecha con
              ".alert-danger"</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Lugares de Notificaciones
                  <p class="category">Haz clic para ver las notificaciones</p>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-4">
                    <button
                      class="btn btn-primary btn-block"
                      onclick="demo.showNotification('top','left')"
                    >
                      Arriba Izquierda
                    </button>
                  </div>
                  <div class="col-md-4">
                    <button
                      class="btn btn-primary btn-block"
                      onclick="demo.showNotification('top','center')"
                    >
                      Arriba Centro
                    </button>
                  </div>
                  <div class="col-md-4">
                    <button
                      class="btn btn-primary btn-block"
                      onclick="demo.showNotification('top','right')"
                    >
                      Arriba Derecha
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-4">
                    <button
                      class="btn btn-primary btn-block"
                      onclick="demo.showNotification('bottom','left')"
                    >
                      Abajo Izquierda
                    </button>
                  </div>
                  <div class="col-md-4">
                    <button
                      class="btn btn-primary btn-block"
                      onclick="demo.showNotification('bottom','center')"
                    >
                      Abajo Centro
                    </button>
                  </div>
                  <div class="col-md-4">
                    <button
                      class="btn btn-primary btn-block"
                      onclick="demo.showNotification('bottom','right')"
                    >
                      Abajo Derecha
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
