<% trabajadores.forEach((trabajadores)=>{ %> %>
<tr>
  <td><%= trabajadores.nombres %></td>
  <td><%= trabajadores.apellidos %></td>
  <td><%= trabajadores.edad %></td>
  <td><%= trabajadores.sexo %></td>
</tr>
<br />
<br />

<% }) %>
